@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model DesignPatternSLN.DesignPatternIntro.Duck
<p>@Model.Fly</p>
<p>@Model.Quack</p>


